<a href="https://colab.research.google.com/github/leema16/DataWrangling/blob/main/dataWrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=pd.read_csv('Crop_Production.csv')
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345336 entries, 0 to 345335
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   State       345336 non-null  object
 1   District    345336 non-null  object
 2   Crop        345327 non-null  object
 3   Crop_Year   345336 non-null  int64
 4   Season      345336 non-null  object
 5   Area        345336 non-null  float64
 6   Production  340388 non-null  float64
 7   Yield       345336 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 21.1+ MB

,State,District,Crop,Crop_Year,Season,Area,Production,Yield
0,Andaman and Nicobar Island,NICOBARS,Arecanut,2007,Kharif,2439.6,3415.0,1.40
1,Andaman and Nicobar Island,NICOBARS,Arecanut,2007,Rabi,1626.4,2277.0,1.40
2,Andaman and Nicobar Island,NICOBARS,Arecanut,2008,Autumn,4147.0,3060.0,0.74
3,Andaman and Nicobar Island,NICOBARS,Arecanut,2008,Summer,4147.0,2660.0,0.64
4,Andaman and Nicobar Island,NICOBARS,Arecanut,2009,Autumn,4153.0,3120.0,0.75

In [ ]:
data.shape[0]

345336

In [ ]:
data.describe()

           Crop_Year         Area     Production          Yield
count  345336.000000  3.453360e+05  3.403880e+05  345336.000000
mean     2008.887512  1.167147e+04  9.584726e+05      79.423135
std         6.564361  4.584079e+04  2.153068e+07     916.678396
min      1997.000000  4.000000e-03  0.000000e+00       0.000000
25%      2003.000000  7.400000e+01  8.700000e+01       0.550000
50%      2009.000000  5.320000e+02  7.170000e+02       1.000000
75%      2015.000000  4.112000e+03  7.182000e+03       2.470000
max      2020.000000  8.580100e+06  1.597800e+09   43958.330000

In [ ]:
data.columns

Index(['State', 'District ', 'Crop', 'Crop_Year', 'Season', 'Area ',
       'Production', 'Yield'],
      dtype='object')

In [ ]:
data.dtypes

State          object
District       object
Crop           object
Crop_Year       int64
Season         object
Area          float64
Production    float64
Yield         float64
dtype: object

In [ ]:
data['State'] = data['State'].str.title()
data['State'].unique()

array(['Andaman And Nicobar Island', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra And Nagar Haveli', 'Daman And Diu', 'Delhi',
       'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu And Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Laddak',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'The Dadra And Nagar Haveli',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [ ]:
print("Columns with leading/trailing spaces:")
for col in data.columns:
    if col.strip() != col:
        print(col)

print("\nUnique values in District column:")
print(data['District '].unique())

Columns with leading/trailing spaces:
District
Area

Unique values in District column:
['NICOBARS' 'NORTH AND MIDDLE ANDAMAN' 'SOUTH ANDAMANS' 'ANANTAPUR'
 'EAST GODAVARI' 'KRISHNA' 'VIZIANAGARAM' 'WEST GODAVARI' 'ADILABAD'
 'CHITTOOR' 'GUNTUR' 'KADAPA' 'KARIMNAGAR' 'KHAMMAM' 'KURNOOL'
 'MAHBUBNAGAR' 'MEDAK' 'NALGONDA' 'NIZAMABAD' 'PRAKASAM' 'RANGAREDDI'
 'SPSR NELLORE' 'SRIKAKULAM' 'VISAKHAPATANAM' 'WARANGAL' 'HYDERABAD'
 'DIBANG VALLEY' 'EAST KAMENG' 'EAST SIANG' 'KAMLE' 'LEPARADA' 'LOHIT'
 'LONGDING' 'LOWER DIBANG VALLEY' 'LOWER SIANG' 'LOWER SUBANSIRI' 'NAMSAI'
 'PAKKE KESSANG' 'PAPUM PARE' 'SIANG' 'TIRAP' 'UPPER SIANG'
 'UPPER SUBANSIRI' 'WEST SIANG' 'ANJAW' 'CHANGLANG' 'KRA DAADI'
 'KURUNG KUMEY' 'SHI YOMI' 'TAWANG' 'WEST KAMENG' 'BAKSA' 'BARPETA'
 'BISWANATH\n' 'BONGAIGAON' 'CACHAR' 'CHARAIDEO\n' 'CHIRANG' 'DARRANG'
 'DHEMAJI' 'DHUBRI' 'DIBRUGARH' 'DIMA HASAO' 'GOALPARA' 'GOLAGHAT'
 'HAILAKANDI' 'HOJAI\n' 'JORHAT' 'KAMRUP' 'KAMRUP METRO' 'KARBI ANGLONG'
 'KARIMGANJ' 'KOKRAJHAR' 'LAKHIMPUR' 'MAJULI\n' 'MARIGAON' 'NAGAON'
 'NALBARI' 'SIVASAGAR' 'SONITPUR' 'SOUTH SALMARA MANCACHAR\n' 'TINSUKIA'
 'UDALGURI' 'WEST KARBI ANGLONG\n' 'ARARIA' 'ARWAL' 'AURANGABAD' 'BANKA'
 'BEGUSARAI' 'BHAGALPUR' 'BHOJPUR' 'BOKARO' 'BUXAR' 'CHATRA' 'DARBHANGA'
 'DEOGHAR' 'DHANBAD' 'DUMKA' 'EAST SINGHBUM' 'GARHWA' 'GAYA' 'GIRIDIH'
 'GODDA' 'GOPALGANJ' 'GUMLA' 'HAZARIBAGH' 'JAMUI' 'JEHANABAD'
 'KAIMUR (BHABUA)' 'KATIHAR' 'KHAGARIA' 'KISHANGANJ' 'KODERMA'
 'LAKHISARAI' 'LOHARDAGA' 'MADHEPURA' 'MADHUBANI' 'MUNGER' 'MUZAFFARPUR'
 'NALANDA' 'NAWADA' 'PAKUR' 'PALAMU' 'PASHCHIM CHAMPARAN' 'PATNA'
 'PURBI CHAMPARAN' 'PURNIA' 'RANCHI' 'ROHTAS' 'SAHARSA' 'SAHEBGANJ'
 'SAMASTIPUR' 'SARAN' 'SHEIKHPURA' 'SHEOHAR' 'SITAMARHI' 'SIWAN' 'SUPAUL'
 'VAISHALI' 'WEST SINGHBHUM' 'CHANDIGARH' 'BALOD' 'BALODA BAZAR'
 'BALRAMPUR' 'BASTAR' 'BEMETARA' 'BIJAPUR' 'BILASPUR' 'DANTEWADA'
 'DHAMTARI' 'DURG' 'GARIYABAND' 'GAURELLA-PENDRA-MARWAHI' 'JANJGIR-CHAMPA'
 'JASHPUR' 'KABIRDHAM' 'KANKER' 'KONDAGAON' 'KORBA' 'KOREA' 'MAHASAMUND'
 'MUNGELI' 'NARAYANPUR' 'RAIGARH' 'RAIPUR' 'RAJNANDGAON' 'SUKMA'
 'SURAJPUR' 'SURGUJA' 'DADRA AND NAGAR HAVELI' 'DIU' 'DAMAN' 'DELHI_TOTAL'
 'NORTH GOA' 'SOUTH GOA' 'AHMADABAD' 'AMRELI' 'ANAND' 'ARAVALLI'
 'BANAS KANTHA' 'BHARUCH' 'BHAVNAGAR' 'BOTAD' 'CHHOTAUDEPUR' 'DANG'
 'DEVBHUMI DWARKA' 'DOHAD' 'GANDHINAGAR' 'GIR SOMNATH' 'JAMNAGAR'
 'JUNAGADH' 'KACHCHH' 'KHEDA' 'MAHESANA' 'MAHISAGAR' 'MORBI' 'NARMADA'
 'NAVSARI' 'PANCH MAHALS' 'PATAN' 'PORBANDAR' 'RAJKOT' 'SABAR KANTHA'
 'SURAT' 'SURENDRANAGAR' 'TAPI' 'VADODARA' 'VALSAD' 'AMBALA' 'BHIWANI'
 'CHARKI DADRI' 'FARIDABAD' 'FATEHABAD' 'GURGAON' 'HISAR' 'JHAJJAR' 'JIND'
 'KAITHAL' 'KARNAL' 'KURUKSHETRA' 'MAHENDRAGARH' 'MEWAT' 'PALWAL'
 'PANCHKULA' 'PANIPAT' 'REWARI' 'ROHTAK' 'SIRSA' 'SONIPAT' 'YAMUNANAGAR'
 'CHAMBA' 'KANGRA' 'KULLU' 'MANDI' 'SHIMLA' 'SIRMAUR' 'SOLAN' 'UNA'
 'HAMIRPUR' 'KINNAUR' 'LAHUL AND SPITI' 'JAMMU' 'SAMBA' 'BANDIPORA' 'DODA'
 'KATHUA' 'KISHTWAR' 'KUPWARA' 'LEH LADAKH' 'RAJAURI' 'REASI' 'UDHAMPUR'
 'BARAMULLA' 'GANDERBAL' 'RAMBAN' 'SRINAGAR' 'BADGAM' 'ANANTNAG' 'KULGAM'
 'POONCH' 'PULWAMA' 'SHOPIAN' 'KARGIL' 'JAMTARA' 'KHUNTI' 'LATEHAR'
 'RAMGARH' 'SARAIKELA KHARSAWAN' 'SIMDEGA' 'BAGALKOTE' 'BALLARI'
 'BANGALORE RURAL' 'BELAGAVI' 'BENGALURU URBAN' 'CHAMARAJANAGARA'
 'CHIKKABALLAPURA' 'CHIKKAMAGALURU' 'CHITRADURGA' 'DAKSHINA KANNADA'
 'DAVANGERE' 'DHARWAD' 'GADAG' 'HASSAN' 'HAVERI' 'KALABURAGI' 'KODAGU'
 'KOLAR' 'MANDYA' 'MYSURU' 'RAMANAGARA' 'SHIVAMOGGA' 'TUMAKURU' 'UDUPI'
 'UTTARA KANNADA' 'VIJAYAPURA' 'BIDAR' 'KOPPAL' 'RAICHUR' 'YADAGIRI'
 'ALAPPUZHA' 'ERNAKULAM' 'IDUKKI' 'KANNUR' 'KASARAGOD' 'KOLLAM' 'KOTTAYAM'
 'KOZHIKODE' 'MALAPPURAM' 'PALAKKAD' 'PATHANAMTHITTA' 'THIRUVANANTHAPURAM'
 'THRISSUR' 'WAYANAD' 'AGAR MALWA' 'ALIRAJPUR' 'ANUPPUR' 'ASHOKNAGAR'
 'BALAGHAT' 'BARWANI' 'BETUL' 'BHIND' 'BHOPAL' 'BURHANPUR' 'CHHATARPUR'
 'CHHINDWARA' 'DAMOH' 'DATIA' 'DEWAS' 'DHAR' 'DINDORI' 'GUNA' 'GWALIOR'
 'HARDA' 'HOSHANGABAD' 'INDORE' 'JABALPUR' 'JHABUA' 'KATNI' 'KHANDWA'
 'KHARGONE' 'MANDLA' 'MANDSAUR' 'MORENA' 'NARSINGHPUR' 'NEEMUCH' 'PANNA'
 'RAISEN' 'RAJGARH' 'RATLAM' 'REWA' 'SAGAR' 'SATNA' 'SEHORE' 'SEONI'
 'SHAHDOL' 'SHAJAPUR' 'SHEOPUR' 'SHIVPURI' 'SIDHI' 'SINGRAULI' 'TIKAMGARH'
 'UJJAIN' 'UMARIA' 'VIDISHA' 'NIWARI' 'AHMEDNAGAR' 'AKOLA' 'AMRAVATI'
 'BEED' 'BHANDARA' 'BULDHANA' 'CHANDRAPUR' 'DHULE' 'GADCHIROLI' 'GONDIA'
 'HINGOLI' 'JALGAON' 'JALNA' 'KOLHAPUR' 'LATUR' 'NAGPUR' 'NANDED'
 'NANDURBAR' 'NASHIK' 'OSMANABAD' 'PALGHAR' 'PARBHANI' 'PUNE' 'RAIGAD'
 'RATNAGIRI' 'SANGLI' 'SATARA' 'SINDHUDURG' 'SOLAPUR' 'THANE' 'WARDHA'
 'WASHIM' 'YAVATMAL' 'MUMBAI SUBURBAN' 'MUMBAI' 'BISHNUPUR' 'CHANDEL'
 'CHURACHANDPUR' 'IMPHAL EAST' 'IMPHAL WEST' 'SENAPATI' 'TAMENGLONG'
 'THOUBAL' 'UKHRUL' 'EAST GARO HILLS' 'EAST JAINTIA HILLS'
 'EAST KHASI HILLS' 'NORTH GARO HILLS' 'RI BHOI' 'SOUTH GARO HILLS'
 'SOUTH WEST GARO HILLS' 'SOUTH WEST KHASI HILLS' 'WEST GARO HILLS'
 'WEST JAINTIA HILLS' 'WEST KHASI HILLS' 'AIZAWL' 'CHAMPHAI' 'KOLASIB'
 'LAWNGTLAI' 'LUNGLEI' 'MAMIT' 'SAIHA' 'SERCHHIP' 'DIMAPUR' 'KIPHIRE'
 'KOHIMA' 'LONGLENG' 'MOKOKCHUNG' 'MON' 'PEREN' 'PHEK' 'TUENSANG' 'WOKHA'
 'ZUNHEBOTO' 'ANUGUL' 'BALANGIR' 'BALESHWAR' 'BARGARH' 'BHADRAK' 'BOUDH'
 'CUTTACK' 'DEOGARH' 'DHENKANAL' 'GAJAPATI' 'GANJAM' 'JAGATSINGHAPUR'
 'JAJAPUR' 'JHARSUGUDA' 'KALAHANDI' 'KANDHAMAL' 'KENDRAPARA' 'KENDUJHAR'
 'KHORDHA' 'KORAPUT' 'MALKANGIRI' 'MAYURBHANJ' 'NABARANGPUR' 'NAYAGARH'
 'NUAPADA' 'PURI' 'RAYAGADA' 'SAMBALPUR' 'SONEPUR' 'SUNDARGARH' 'MAHE'
 'KARAIKAL' 'PONDICHERRY' 'YANAM' 'AMRITSAR' 'BARNALA' 'BATHINDA'
 'FARIDKOT' 'FATEHGARH SAHIB' 'FAZILKA' 'FIROZEPUR' 'GURDASPUR'
 'HOSHIARPUR' 'JALANDHAR' 'KAPURTHALA' 'LUDHIANA' 'MANSA' 'MOGA' 'MUKTSAR'
 'PATIALA' 'RUPNAGAR' 'S NAGAR' 'SANGRUR' 'SHAHID BHAGAT SINGH NAGAR'
 'TARN TARAN' 'PATHANKOT' 'AJMER' 'ALWAR' 'BANSWARA' 'BARAN' 'BARMER'
 'BHARATPUR' 'BHILWARA' 'BIKANER' 'BUNDI' 'CHITTORGARH' 'DAUSA' 'DHOLPUR'
 'DUNGARPUR' 'GANGANAGAR' 'HANUMANGARH' 'JAIPUR' 'JAISALMER' 'JALORE'
 'JHALAWAR' 'JHUNJHUNU' 'JODHPUR' 'KARAULI' 'KOTA' 'NAGAUR' 'PALI'
 'PRATAPGARH' 'RAJSAMAND' 'SAWAI MADHOPUR' 'SIKAR' 'SIROHI' 'TONK'
 'UDAIPUR' 'CHURU' 'EAST DISTRICT' 'NORTH DISTRICT' 'SOUTH DISTRICT'
 'WEST DISTRICT' 'ARIYALUR' 'COIMBATORE' 'CUDDALORE' 'DHARMAPURI'
 'DINDIGUL' 'ERODE' 'KANNIYAKUMARI' 'KARUR' 'KRISHNAGIRI' 'MADURAI'
 'NAGAPATTINAM' 'NAMAKKAL' 'PERAMBALUR' 'PUDUKKOTTAI' 'SALEM' 'THANJAVUR'
 'THE NILGIRIS' 'THENI' 'THIRUVARUR' 'TIRUCHIRAPPALLI' 'TIRUNELVELI'
 'TIRUPPUR' 'TIRUVANNAMALAI' 'VELLORE' 'VILLUPURAM' 'VIRUDHUNAGAR'
 'KANCHIPURAM' 'RAMANATHAPURAM' 'SIVAGANGA' 'THIRUVALLUR' 'TUTICORIN'
 'CHENNAI' 'KALLAKURICHI' 'TENKASI' 'TIRUPATHUR' 'CHENGALPATTU' 'RANIPET'
 'BHADRADRI' 'HANUMAKONDA\n' 'JAGITIAL' 'JANGOAN' 'JAYASHANKAR'
 'JOGULAMBA' 'KAMAREDDY' 'KOMARAM BHEEM ASIFABAD' 'MAHABUBABAD'
 'MANCHERIAL' 'MEDCHAL MALKAJGIRI' 'MULUGU' 'NAGARKURNOOL' 'NARAYANAPET'
 'NIRMAL' 'PEDDAPALLI' 'RAJANNA' 'SANGAREDDY' 'SIDDIPET' 'SURYAPET'
 'VIKARABAD' 'WANAPARTHY' 'YADADRI' 'DHALAI' 'GOMATI' 'KHOWAI'
 'NORTH TRIPURA' 'SEPAHIJALA' 'SOUTH TRIPURA' 'UNAKOTI' 'WEST TRIPURA'
 'AGRA' 'ALIGARH' 'ALLAHABAD' 'ALMORA' 'AMBEDKAR NAGAR' 'AMETHI' 'AMROHA'
 'AURAIYA' 'AZAMGARH' 'BAGHPAT' 'BAHRAICH' 'BALLIA' 'BANDA' 'BARABANKI'
 'BAREILLY' 'BASTI' 'BIJNOR' 'BUDAUN' 'BULANDSHAHR' 'CHAMOLI' 'CHANDAULI'
 'CHITRAKOOT' 'DEHRADUN' 'DEORIA' 'ETAH' 'ETAWAH' 'FAIZABAD' 'FARRUKHABAD'
 'FATEHPUR' 'FIROZABAD' 'GAUTAM BUDDHA NAGAR' 'GHAZIABAD' 'GHAZIPUR'
 'GONDA' 'GORAKHPUR' 'HAPUR' 'HARDOI' 'HARIDWAR' 'HATHRAS' 'JALAUN'
 'JAUNPUR' 'JHANSI' 'KANNAUJ' 'KANPUR DEHAT' 'KANPUR NAGAR' 'KASGANJ'
 'KAUSHAMBI' 'KHERI' 'KUSHI NAGAR' 'LALITPUR' 'LUCKNOW' 'MAHARAJGANJ'
 'MAHOBA' 'MAINPURI' 'MATHURA' 'MAU' 'MEERUT' 'MIRZAPUR' 'MORADABAD'
 'MUZAFFARNAGAR' 'NAINITAL' 'PAURI GARHWAL' 'PILIBHIT' 'PITHORAGARH'
 'RAE BARELI' 'RAMPUR' 'SAHARANPUR' 'SAMBHAL' 'SANT KABEER NAGAR'
 'SANT RAVIDAS NAGAR' 'SHAHJAHANPUR' 'SHAMLI' 'SHRAVASTI'
 'SIDDHARTH NAGAR' 'SITAPUR' 'SONBHADRA' 'SULTANPUR' 'TEHRI GARHWAL'
 'UDAM SINGH NAGAR' 'UNNAO' 'UTTAR KASHI' 'VARANASI' 'BAGESHWAR'
 'CHAMPAWAT' 'RUDRA PRAYAG' 'PARAGANAS NORTH' 'PARAGANAS SOUTH' 'BANKURA'
 'BIRBHUM' 'COOCHBEHAR' 'DARJEELING' 'DINAJPUR DAKSHIN' 'DINAJPUR UTTAR'
 'HOOGHLY' 'HOWRAH' 'JALPAIGURI' 'MALDAH' 'MEDINIPUR EAST'
 'MEDINIPUR WEST' 'MURSHIDABAD' 'NADIA' 'PURBA BARDHAMAN' 'PURULIA'
 'ALIPURDUAR' 'JHARGRAM\n' 'KALIMPONG\n' 'PASCHIM BARDHAMAN\n']

In [ ]:
top_5_yield_crops = data.groupby('Crop')['Yield'].mean().sort_values(ascending=False).head()
print("Top 5 highest average Yield crops:")
print(top_5_yield_crops)

Top 5 highest average Yield crops:
Crop
Coconut      8833.247721
Sugarcane      55.592646
Banana         29.052143
Tapioca        18.905141
Onion          13.178732
Name: Yield, dtype: float64

In [ ]:
crop_count=data['Crop'].value_counts()
count=crop_count[crop_count<300]
print(count)

Crop
Other Summer Pulses    67
Name: count, dtype: int64

In [ ]:
data.columns = data.columns.str.strip()
print("Updated column names:")
print(data.columns)

Updated column names:
Index(['State', 'District', 'Crop', 'Crop_Year', 'Season', 'Area',
       'Production', 'Yield'],
      dtype='object')

In [ ]:

seasonal_performance = data.groupby(['Crop', 'Season']).agg(
    Total_Production=('Production', 'sum'),
    Average_Yield=('Yield', 'mean')
)

print("Seasonal performance of each crop:")
print(seasonal_performance)

Seasonal performance of each crop:
                            Total_Production  Average_Yield
Crop           Season
Arecanut       Autumn                 6180.0       0.745000
               Kharif                44043.0       2.849750
               Rabi                 843568.0       1.081816
               Summer                 4740.0       0.570000
               Whole Year         38400818.0       2.630663
...                                      ...            ...
Wheat          Winter                60261.0       1.737273
other oilseeds Kharif              9930075.0       3.443375
               Rabi                1529803.0       0.558216
               Summer                 1320.0       0.765000
               Whole Year           357083.0       0.698068

[243 rows x 2 columns]

In [ ]:
year_wise_yield = data.pivot_table(
    index='Crop',
    columns='Crop_Year',
    values='Yield',
    aggfunc='mean'
  )

print("Year-wise average yield for each crop:")
display(year_wise_yield)

Year-wise average yield for each crop:

Crop_Year,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Crop,,,,,,,,,,,,,,,,,,,,,
Arecanut,1.199600,2.310244,1.147903,1.296932,1.266023,1.194868,1.068198,1.248906,2.294545,1.274701,...,2.735400,3.185135,3.108431,3.057941,3.123824,3.106038,3.492264,3.124324,3.478966,NaN
Arhar/Tur,0.665933,0.907288,0.851807,0.719673,0.747137,0.648915,0.807392,0.770871,0.779204,0.756719,...,0.857134,0.963475,0.931400,0.873800,0.852647,0.984955,1.017455,0.931957,1.027064,0.870000
Bajra,1.012835,1.008194,0.985046,2.527306,2.538164,2.383408,2.674526,2.456056,2.574406,2.510689,...,3.626187,2.277224,3.870858,3.918182,2.808144,2.715749,2.437913,2.375741,2.362690,NaN
Banana,28.935814,25.013651,20.807047,19.099773,19.022857,19.017526,24.178202,26.075922,26.212315,27.513636,...,28.132985,24.947120,30.551798,30.698012,33.140302,34.555814,41.185950,42.194100,40.108079,NaN
Barley,1.746478,1.685547,1.808233,1.523626,1.754577,1.673205,1.707004,1.652269,1.643414,1.750605,...,2.113285,2.009928,2.221894,1.753862,1.994661,2.433208,2.362792,2.470463,2.489142,1.366923
Black pepper,0.312273,0.823143,0.923714,0.884118,1.133448,1.069355,0.779286,1.009744,0.783556,0.695581,...,0.746203,1.533788,1.224023,0.854118,0.895889,0.911429,1.021124,0.962558,0.941042,NaN
Cardamom,0.051250,0.068000,0.074545,0.061818,0.072500,0.075556,0.077143,0.072667,0.072000,0.281667,...,0.067200,0.082667,0.087308,0.087308,0.348800,0.090000,0.097500,0.097353,0.094324,NaN
Cashewnut,0.589286,0.329429,0.545854,0.343898,0.434000,0.395522,0.429851,0.382344,0.400635,0.452063,...,0.511149,0.621250,0.534674,0.597253,0.533222,0.466304,0.608723,0.712233,0.761111,NaN
Castor seed,1.026923,0.839006,0.602739,0.570082,0.603085,0.502915,0.699776,0.629028,0.728060,0.678687,...,0.792650,0.709740,0.828981,0.850303,0.790545,0.796262,0.920142,0.732708,0.932042,NaN
Coconut,7540.584561,6777.567976,7228.893068,7421.349633,7457.813981,7606.901111,7538.292741,8641.868087,8386.268478,8907.947410,...,9975.140199,9173.956372,8837.767551,9445.158919,9593.918276,9715.823643,9523.780479,9779.502245,9121.621835,NaN
Coriander,0.367407,0.557500,0.423158,0.404802,0.485808,0.404860,0.499862,0.598054,0.560243,0.478950,...,0.551314,0.559528,0.577638,0.674360,1.047004,0.851585,1.043007,1.168576,1.147484,NaN
Cotton(lint),17.196159,1.088898,1.312288,1.307055,1.167401,1.220989,1.558638,1.549887,1.536082,1.709191,...,2.085311,1.935986,2.349194,2.255791,1.867853,2.088088,1.973642,2.066882,2.331405,NaN
Cowpea(Lobia),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.493333,...,0.714909,0.603475,0.686316,0.723576,0.843161,0.725089,0.783005,0.752605,0.701197,NaN
Dry chillies,1.198211,1.083742,0.906500,0.970872,1.037735,0.923100,1.122688,1.365876,1.254192,1.176683,...,1.546573,2.008528,1.674484,1.653220,1.852566,2.175632,2.189507,2.168622,2.013554,NaN
Garlic,2.231094,2.410769,2.774144,2.988791,3.175381,2.897727,3.213380,3.382351,3.571701,3.949160,...,3.592196,3.963473,4.534731,5.856364,6.079695,5.660066,5.497095,6.305362,5.996792,6.603478
Ginger,2.110732,5.548017,4.117288,3.755573,3.584241,3.804828,3.652549,3.833981,5.317042,4.369158,...,4.609722,7.372228,7.305735,9.010000,11.218426,10.256286,10.497719,9.211594,9.128852,NaN
Gram,0.724878,0.796220,0.746860,0.742998,0.793575,0.727545,0.825939,0.767851,0.829399,0.773774,...,0.948946,1.000485,0.904790,0.863414,0.849632,1.059184,1.120562,1.121257,1.100785,0.748182
Groundnut,1.042597,1.045798,1.081967,1.047082,1.117527,0.978333,1.128086,1.100653,1.189296,1.112969,...,1.419949,1.427250,1.533139,1.527758,1.411877,1.529230,1.654678,1.605446,1.756060,1.521667
Guar seed,NaN,NaN,5.787193,0.219535,0.671220,0.228636,0.264583,0.756471,0.705500,0.717885,...,0.773056,1.022500,0.814919,0.796063,0.706055,0.733106,0.699441,0.727719,0.746406,NaN
Horse-gram,0.387273,0.406087,0.448671,0.433350,0.447967,0.368333,0.381299,0.406396,0.434134,0.399783,...,0.486935,0.483439,0.524391,0.561842,0.526830,0.454404,0.575680,0.564710,0.655644,0.969091
Jowar,0.896791,0.912034,0.918702,0.837506,0.884989,0.849770,1.041133,0.906333,1.018310,1.005875,...,1.218115,1.205110,1.209772,1.291411,1.095750,1.075647,1.266321,1.178817,1.179770,NaN
Jute,8.534487,7.807143,8.605949,8.808400,9.500822,9.807059,10.059014,9.123836,10.985616,7.081129,...,9.051047,8.862625,9.960778,10.348214,10.028488,10.044138,9.946706,8.846930,10.634699,NaN
Khesari,1.095882,0.774667,0.890196,0.789552,0.728657,0.714328,0.824348,0.607000,0.686143,0.721414,...,0.872277,0.899307,0.845900,0.952500,0.783514,1.176835,0.810253,0.782439,0.681882,NaN
Linseed,0.452051,0.442246,0.458386,0.434105,0.494311,0.474014,0.518116,0.506605,0.514358,0.505405,...,0.646917,0.601333,0.572282,0.601402,0.536858,0.659641,0.608659,0.640327,0.686007,NaN
Maize,11.570043,1.626735,1.741369,1.835827,1.922236,1.679694,1.861928,2.057613,1.877454,2.006281,...,2.454270,2.450684,2.762296,2.716938,2.548978,2.721043,3.083747,2.904903,3.117563,2.008824
Masoor,0.748667,0.731677,0.639862,0.737892,0.707261,0.674561,0.748595,0.576636,0.630136,0.634013,...,0.765200,0.818212,0.816788,0.745821,0.800602,0.832492,0.863693,0.841102,0.821036,0.751538
Mesta,6.766133,5.880843,5.302233,4.903058,5.039565,5.237033,5.649535,5.611978,6.597629,5.211161,...,5.316000,3.971538,6.316271,6.497431,7.368119,4.440084,4.537449,4.440708,4.081043,NaN
Moong(Green Gram),0.416107,0.367915,0.446103,0.410408,0.400775,0.398990,0.458076,0.380163,0.416910,0.413497,...,0.483356,0.508005,0.530117,0.532056,0.536088,0.591100,0.640045,0.605588,0.620840,0.828000
Moth,0.613043,0.240625,0.181791,0.183281,0.317595,0.286143,0.387753,0.238200,0.285556,0.320000,...,0.449538,0.468254,0.376923,0.416140,0.460000,0.406154,0.503860,0.306066,0.448387,0.570000
Niger seed,0.575000,0.404000,0.308417,0.328867,0.362857,0.316232,0.340073,0.340507,0.338203,0.330000,...,0.309365,0.344955,1.096916,0.460320,0.436434,0.441493,0.446688,0.387029,0.318714,NaN
Oilseeds total,0.950769,1.185000,0.943077,1.003846,1.021538,1.007333,0.991333,1.044667,0.955333,0.959375,...,1.106111,1.098333,1.056316,1.029474,2.836061,2.863846,4.547308,2.920000,5.124231,NaN
Onion,9.358118,10.048323,11.009407,9.928328,10.610064,10.201076,11.259804,11.152610,11.412689,11.939320,...,12.677806,12.769802,14.244719,12.341934,12.290373,14.332986,22.185065,19.200113,15.388445,14.184615
Other Rabi pulses,0.566842,0.710875,0.548446,0.516115,0.505702,0.462569,0.528974,0.756542,0.619947,0.654255,...,0.682111,0.596747,0.800324,0.743804,0.858232,0.804220,0.850038,0.849707,0.806231,0.763333
Other Cereals,NaN,0.724490,0.282857,0.656957,0.574118,0.625000,1.051000,0.642174,0.840588,0.731207,...,0.780588,1.148696,0.899286,0.611471,0.650000,0.713554,0.780127,0.883221,0.965145,0.662500
Other Kharif pulses,0.566765,0.461908,0.322588,0.383430,0.401914,0.354728,0.455500,0.407676,0.450742,0.524704,...,0.575698,0.571984,0.585385,0.705169,0.716779,0.715447,0.709643,0.736875,0.731934,1.083333
Other Summer Pulses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.688889,0.488750,0.489231,0.505500,NaN
Peas & beans (Pulses),1.272353,2.413624,1.188495,1.034885,1.310145,0.935508,1.058244,0.681227,1.702937,0.884595,...,1.901421,1.044499,1.426518,1.417016,1.508477,1.636402,1.707146,1.730217,1.792454,0.669231
Potato,11.660086,13.148118,13.968855,13.266568,13.876454,13.339359,12.443099,12.526864,12.011219,11.838049,...,12.783724,13.265842,12.732704,13.224549,13.078044,14.325481,15.067213,15.131735,14.941163,11.009130
Ragi,0.915165,1.178071,1.155785,1.188645,1.196714,0.977976,1.053108,1.084226,1.210819,1.077729,...,1.406716,1.145061,1.518340,1.613712,1.492344,1.230258,1.695594,1.503248,1.552704,1.589091
Rapeseed &Mustard,0.706419,0.696843,0.752041,0.648505,0.732563,0.616644,0.743138,0.753601,0.746130,0.713423,...,0.892393,0.935010,0.927168,0.857146,0.863561,0.939630,0.983986,0.966721,0.982625,0.693846
Rice,2.098362,1.805280,1.849395,1.782116,1.909950,1.713956,1.917087,1.852887,1.865280,1.900608,...,2.139593,2.181647,2.287649,2.338000,2.198138,2.427852,2.534707,2.501580,2.606026,2.368750
Safflower,0.598846,0.584545,0.491238,0.475114,0.464851,0.446146,0.360700,0.454574,0.540429,0.500725,...,0.565000,0.554921,0.685469,0.609242,0.466901,0.634909,0.591667,0.505823,0.673735,NaN
Sannhamp,1.156735,0.617466,2.001228,1.398571,1.234000,0.841897,1.010635,0.681449,0.752867,0.760000,...,1.203926,1.102222,1.107351,0.857195,0.791489,0.774100,12.674884,0.629020,1.205969,NaN
Sesamum,0.348262,0.321694,0.358970,0.329980,0.369323,0.320272,0.372124,0.355335,0.389185,0.368741,...,0.427090,1.536887,0.431455,0.468827,0.437492,1.299458,0.511650,0.475228,0.493276,0.240833
Small millets,0.689900,0.598675,0.603238,0.577868,0.621638,0.573436,0.741329,0.546965,0.669934,0.642896,...,0.674211,0.640557,0.697796,0.784677,0.753528,0.743819,0.936328,0.844984,0.863588,1.480909
Soyabean,1.037874,0.980542,1.011472,0.834233,0.945784,0.786033,1.139465,0.970583,1.001063,1.032030,...,1.137269,1.283591,1.110485,1.055297,0.893633,1.218857,1.145959,1.174794,1.098475,1.214167
Sugarcane,54.620621,54.147923,56.440167,52.122144,54.078207,50.388184,50.980797,52.245210,53.457236,55.397882,...,54.425270,55.889788,58.685889,59.446567,58.808130,58.649612,61.259128,60.530852,62.048812,81.540000
Sunflower,0.914335,0.739354,0.776505,0.747240,0.949802,0.833399,0.892393,0.940328,0.920550,1.151925,...,1.004479,0.860108,1.024020,1.050427,0.915358,0.884590,1.107926,0.999163,1.052878,0.723333
Sweet potato,8.841014,8.625481,7.448326,8.222010,6.712884,7.769844,7.843774,8.538133,9.778163,8.925865,...,9.158340,8.829225,9.675725,9.955289,10.485992,10.092074,11.587409,11.893979,12.237899,NaN
Tapioca,10.499792,19.656316,16.394583,17.565333,10.391607,16.035937,17.309184,26.639692,18.590538,20.877500,...,20.657105,15.667805,20.219829,20.698814,19.091066,18.340992,20.252602,20.176061,21.736716,NaN
Tobacco,0.959000,2.676203,2.228187,1.739822,2.394402,2.265550,2.416075,2.428743,2.418021,2.364974,...,2.427391,2.612733,2.772042,2.486337,2.935152,2.452381,2.965890,8.055955,2.497921,2.000000
Turmeric,2.056344,2.442103,2.185311,2.197743,1.952222,2.055056,2.186288,2.238030,3.019384,2.820901,...,3.165779,2.824522,3.355077,3.906875,6.081353,5.912295,6.243932,6.110495,5.867508,2.808333
Urad,0.503512,0.438490,0.473433,0.425424,0.455830,0.410707,0.456190,0.430541,0.469783,0.464181,...,0.540421,0.565573,0.560626,0.590623,0.568970,0.664191,0.680083,0.663727,0.683467,1.134375
Wheat,1.904268,1.936861,2.112391,1.944944,2.029018,1.916790,1.981921,1.912613,1.856118,2.025776,...,2.470450,2.498185,2.450452,2.168508,2.318558,2.644335,2.705488,2.720962,2.706513,2.216154
other oilseeds,NaN,1.085000,NaN,0.496429,0.465556,0.600889,0.464694,0.570870,0.549048,0.632857,...,3.573836,0.512979,3.359344,4.432807,0.962500,0.619861,2.731294,2.909512,1.753333,0.696250

In [ ]:
print(year_wise_yield.head())
print('\n After melting:')
melted_yield = year_wise_yield.reset_index().melt(
    id_vars='Crop',
    var_name='Crop_Year',
    value_name='Yield'
)
melted_yield

Crop_Year       1997       1998       1999       2000       2001       2002  \
Crop
Arecanut    1.199600   2.310244   1.147903   1.296932   1.266023   1.194868
Arhar/Tur   0.665933   0.907288   0.851807   0.719673   0.747137   0.648915
Bajra       1.012835   1.008194   0.985046   2.527306   2.538164   2.383408
Banana     28.935814  25.013651  20.807047  19.099773  19.022857  19.017526
Barley      1.746478   1.685547   1.808233   1.523626   1.754577   1.673205

Crop_Year       2003       2004       2005       2006  ...       2011  \
Crop                                                   ...
Arecanut    1.068198   1.248906   2.294545   1.274701  ...   2.735400
Arhar/Tur   0.807392   0.770871   0.779204   0.756719  ...   0.857134
Bajra       2.674526   2.456056   2.574406   2.510689  ...   3.626187
Banana     24.178202  26.075922  26.212315  27.513636  ...  28.132985
Barley      1.707004   1.652269   1.643414   1.750605  ...   2.113285

Crop_Year       2012       2013       2014       2015       2016       2017  \
Crop
Arecanut    3.185135   3.108431   3.057941   3.123824   3.106038   3.492264
Arhar/Tur   0.963475   0.931400   0.873800   0.852647   0.984955   1.017455
Bajra       2.277224   3.870858   3.918182   2.808144   2.715749   2.437913
Banana     24.947120  30.551798  30.698012  33.140302  34.555814  41.185950
Barley      2.009928   2.221894   1.753862   1.994661   2.433208   2.362792

Crop_Year       2018       2019      2020
Crop
Arecanut    3.124324   3.478966       NaN
Arhar/Tur   0.931957   1.027064  0.870000
Bajra       2.375741   2.362690       NaN
Banana     42.194100  40.108079       NaN
Barley      2.470463   2.489142  1.366923

[5 rows x 24 columns]

 After melting:

                Crop Crop_Year      Yield
0           Arecanut      1997   1.199600
1          Arhar/Tur      1997   0.665933
2              Bajra      1997   1.012835
3             Banana      1997  28.935814
4             Barley      1997   1.746478
...              ...       ...        ...
1315         Tobacco      2020   2.000000
1316        Turmeric      2020   2.808333
1317            Urad      2020   1.134375
1318           Wheat      2020   2.216154
1319  other oilseeds      2020   0.696250

[1320 rows x 3 columns]

In [ ]:
highest_yield_row = melted_yield.loc[melted_yield['Yield'].idxmax()]

print("Crop and year with the highest average yield:")
print(f"Crop: {highest_yield_row['Crop']}")
print(f"Year: {int(highest_yield_row['Crop_Year'])}")
print(f"Average Yield: {highest_yield_row['Yield']:.2f}")

Crop and year with the highest average yield:
Crop: Coconut
Year: 2009
Average Yield: 9976.36

In [ ]:
data['State'] = data['State'].str.lower().str.strip()
data['District'] = data['District'].str.lower().str.strip()

print("Unique values in State column after cleaning:")
print(data['State'].unique())
print("\nUnique values in District column after cleaning:")
print(data['District'].unique())

Unique values in State column after cleaning:
['andaman and nicobar island' 'andhra pradesh' 'arunachal pradesh' 'assam'
 'bihar' 'chandigarh' 'chhattisgarh' 'dadra and nagar haveli'
 'daman and diu' 'delhi' 'goa' 'gujarat' 'haryana' 'himachal pradesh'
 'jammu and kashmir' 'jharkhand' 'karnataka' 'kerala' 'laddak'
 'madhya pradesh' 'maharashtra' 'manipur' 'meghalaya' 'mizoram' 'nagaland'
 'odisha' 'puducherry' 'punjab' 'rajasthan' 'sikkim' 'tamil nadu'
 'telangana' 'the dadra and nagar haveli' 'tripura' 'uttar pradesh'
 'uttarakhand' 'west bengal']

Unique values in District column after cleaning:
['nicobars' 'north and middle andaman' 'south andamans' 'anantapur'
 'east godavari' 'krishna' 'vizianagaram' 'west godavari' 'adilabad'
 'chittoor' 'guntur' 'kadapa' 'karimnagar' 'khammam' 'kurnool'
 'mahbubnagar' 'medak' 'nalgonda' 'nizamabad' 'prakasam' 'rangareddi'
 'spsr nellore' 'srikakulam' 'visakhapatanam' 'warangal' 'hyderabad'
 'dibang valley' 'east kameng' 'east siang' 'kamle' 'leparada' 'lohit'
 'longding' 'lower dibang valley' 'lower siang' 'lower subansiri' 'namsai'
 'pakke kessang' 'papum pare' 'siang' 'tirap' 'upper siang'
 'upper subansiri' 'west siang' 'anjaw' 'changlang' 'kra daadi'
 'kurung kumey' 'shi yomi' 'tawang' 'west kameng' 'baksa' 'barpeta'
 'biswanath' 'bongaigaon' 'cachar' 'charaideo' 'chirang' 'darrang'
 'dhemaji' 'dhubri' 'dibrugarh' 'dima hasao' 'goalpara' 'golaghat'
 'hailakandi' 'hojai' 'jorhat' 'kamrup' 'kamrup metro' 'karbi anglong'
 'karimganj' 'kokrajhar' 'lakhimpur' 'majuli' 'marigaon' 'nagaon'
 'nalbari' 'sivasagar' 'sonitpur' 'south salmara mancachar' 'tinsukia'
 'udalguri' 'west karbi anglong' 'araria' 'arwal' 'aurangabad' 'banka'
 'begusarai' 'bhagalpur' 'bhojpur' 'bokaro' 'buxar' 'chatra' 'darbhanga'
 'deoghar' 'dhanbad' 'dumka' 'east singhbum' 'garhwa' 'gaya' 'giridih'
 'godda' 'gopalganj' 'gumla' 'hazaribagh' 'jamui' 'jehanabad'
 'kaimur (bhabua)' 'katihar' 'khagaria' 'kishanganj' 'koderma'
 'lakhisarai' 'lohardaga' 'madhepura' 'madhubani' 'munger' 'muzaffarpur'
 'nalanda' 'nawada' 'pakur' 'palamu' 'pashchim champaran' 'patna'
 'purbi champaran' 'purnia' 'ranchi' 'rohtas' 'saharsa' 'sahebganj'
 'samastipur' 'saran' 'sheikhpura' 'sheohar' 'sitamarhi' 'siwan' 'supaul'
 'vaishali' 'west singhbhum' 'chandigarh' 'balod' 'baloda bazar'
 'balrampur' 'bastar' 'bemetara' 'bijapur' 'bilaspur' 'dantewada'
 'dhamtari' 'durg' 'gariyaband' 'gaurella-pendra-marwahi' 'janjgir-champa'
 'jashpur' 'kabirdham' 'kanker' 'kondagaon' 'korba' 'korea' 'mahasamund'
 'mungeli' 'narayanpur' 'raigarh' 'raipur' 'rajnandgaon' 'sukma'
 'surajpur' 'surguja' 'dadra and nagar haveli' 'diu' 'daman' 'delhi_total'
 'north goa' 'south goa' 'ahmadabad' 'amreli' 'anand' 'aravalli'
 'banas kantha' 'bharuch' 'bhavnagar' 'botad' 'chhotaudepur' 'dang'
 'devbhumi dwarka' 'dohad' 'gandhinagar' 'gir somnath' 'jamnagar'
 'junagadh' 'kachchh' 'kheda' 'mahesana' 'mahisagar' 'morbi' 'narmada'
 'navsari' 'panch mahals' 'patan' 'porbandar' 'rajkot' 'sabar kantha'
 'surat' 'surendranagar' 'tapi' 'vadodara' 'valsad' 'ambala' 'bhiwani'
 'charki dadri' 'faridabad' 'fatehabad' 'gurgaon' 'hisar' 'jhajjar' 'jind'
 'kaithal' 'karnal' 'kurukshetra' 'mahendragarh' 'mewat' 'palwal'
 'panchkula' 'panipat' 'rewari' 'rohtak' 'sirsa' 'sonipat' 'yamunanagar'
 'chamba' 'kangra' 'kullu' 'mandi' 'shimla' 'sirmaur' 'solan' 'una'
 'hamirpur' 'kinnaur' 'lahul and spiti' 'jammu' 'samba' 'bandipora' 'doda'
 'kathua' 'kishtwar' 'kupwara' 'leh ladakh' 'rajauri' 'reasi' 'udhampur'
 'baramulla' 'ganderbal' 'ramban' 'srinagar' 'badgam' 'anantnag' 'kulgam'
 'poonch' 'pulwama' 'shopian' 'kargil' 'jamtara' 'khunti' 'latehar'
 'ramgarh' 'saraikela kharsawan' 'simdega' 'bagalkote' 'ballari'
 'bangalore rural' 'belagavi' 'bengaluru urban' 'chamarajanagara'
 'chikkaballapura' 'chikkamagaluru' 'chitradurga' 'dakshina kannada'
 'davangere' 'dharwad' 'gadag' 'hassan' 'haveri' 'kalaburagi' 'kodagu'
 'kolar' 'mandya' 'mysuru' 'ramanagara' 'shivamogga' 'tumakuru' 'udupi'
 'uttara kannada' 'vijayapura' 'bidar' 'koppal' 'raichur' 'yadagiri'
 'alappuzha' 'ernakulam' 'idukki' 'kannur' 'kasaragod' 'kollam' 'kottayam'
 'kozhikode' 'malappuram' 'palakkad' 'pathanamthitta' 'thiruvananthapuram'
 'thrissur' 'wayanad' 'agar malwa' 'alirajpur' 'anuppur' 'ashoknagar'
 'balaghat' 'barwani' 'betul' 'bhind' 'bhopal' 'burhanpur' 'chhatarpur'
 'chhindwara' 'damoh' 'datia' 'dewas' 'dhar' 'dindori' 'guna' 'gwalior'
 'harda' 'hoshangabad' 'indore' 'jabalpur' 'jhabua' 'katni' 'khandwa'
 'khargone' 'mandla' 'mandsaur' 'morena' 'narsinghpur' 'neemuch' 'panna'
 'raisen' 'rajgarh' 'ratlam' 'rewa' 'sagar' 'satna' 'sehore' 'seoni'
 'shahdol' 'shajapur' 'sheopur' 'shivpuri' 'sidhi' 'singrauli' 'tikamgarh'
 'ujjain' 'umaria' 'vidisha' 'niwari' 'ahmednagar' 'akola' 'amravati'
 'beed' 'bhandara' 'buldhana' 'chandrapur' 'dhule' 'gadchiroli' 'gondia'
 'hingoli' 'jalgaon' 'jalna' 'kolhapur' 'latur' 'nagpur' 'nanded'
 'nandurbar' 'nashik' 'osmanabad' 'palghar' 'parbhani' 'pune' 'raigad'
 'ratnagiri' 'sangli' 'satara' 'sindhudurg' 'solapur' 'thane' 'wardha'
 'washim' 'yavatmal' 'mumbai suburban' 'mumbai' 'bishnupur' 'chandel'
 'churachandpur' 'imphal east' 'imphal west' 'senapati' 'tamenglong'
 'thoubal' 'ukhrul' 'east garo hills' 'east jaintia hills'
 'east khasi hills' 'north garo hills' 'ri bhoi' 'south garo hills'
 'south west garo hills' 'south west khasi hills' 'west garo hills'
 'west jaintia hills' 'west khasi hills' 'aizawl' 'champhai' 'kolasib'
 'lawngtlai' 'lunglei' 'mamit' 'saiha' 'serchhip' 'dimapur' 'kiphire'
 'kohima' 'longleng' 'mokokchung' 'mon' 'peren' 'phek' 'tuensang' 'wokha'
 'zunheboto' 'anugul' 'balangir' 'baleshwar' 'bargarh' 'bhadrak' 'boudh'
 'cuttack' 'deogarh' 'dhenkanal' 'gajapati' 'ganjam' 'jagatsinghapur'
 'jajapur' 'jharsuguda' 'kalahandi' 'kandhamal' 'kendrapara' 'kendujhar'
 'khordha' 'koraput' 'malkangiri' 'mayurbhanj' 'nabarangpur' 'nayagarh'
 'nuapada' 'puri' 'rayagada' 'sambalpur' 'sonepur' 'sundargarh' 'mahe'
 'karaikal' 'pondicherry' 'yanam' 'amritsar' 'barnala' 'bathinda'
 'faridkot' 'fatehgarh sahib' 'fazilka' 'firozepur' 'gurdaspur'
 'hoshiarpur' 'jalandhar' 'kapurthala' 'ludhiana' 'mansa' 'moga' 'muktsar'
 'patiala' 'rupnagar' 's nagar' 'sangrur' 'shahid bhagat singh nagar'
 'tarn taran' 'pathankot' 'ajmer' 'alwar' 'banswara' 'baran' 'barmer'
 'bharatpur' 'bhilwara' 'bikaner' 'bundi' 'chittorgarh' 'dausa' 'dholpur'
 'dungarpur' 'ganganagar' 'hanumangarh' 'jaipur' 'jaisalmer' 'jalore'
 'jhalawar' 'jhunjhunu' 'jodhpur' 'karauli' 'kota' 'nagaur' 'pali'
 'pratapgarh' 'rajsamand' 'sawai madhopur' 'sikar' 'sirohi' 'tonk'
 'udaipur' 'churu' 'east district' 'north district' 'south district'
 'west district' 'ariyalur' 'coimbatore' 'cuddalore' 'dharmapuri'
 'dindigul' 'erode' 'kanniyakumari' 'karur' 'krishnagiri' 'madurai'
 'nagapattinam' 'namakkal' 'perambalur' 'pudukkottai' 'salem' 'thanjavur'
 'the nilgiris' 'theni' 'thiruvarur' 'tiruchirappalli' 'tirunelveli'
 'tiruppur' 'tiruvannamalai' 'vellore' 'villupuram' 'virudhunagar'
 'kanchipuram' 'ramanathapuram' 'sivaganga' 'thiruvallur' 'tuticorin'
 'chennai' 'kallakurichi' 'tenkasi' 'tirupathur' 'chengalpattu' 'ranipet'
 'bhadradri' 'hanumakonda' 'jagitial' 'jangoan' 'jayashankar' 'jogulamba'
 'kamareddy' 'komaram bheem asifabad' 'mahabubabad' 'mancherial'
 'medchal malkajgiri' 'mulugu' 'nagarkurnool' 'narayanapet' 'nirmal'
 'peddapalli' 'rajanna' 'sangareddy' 'siddipet' 'suryapet' 'vikarabad'
 'wanaparthy' 'yadadri' 'dhalai' 'gomati' 'khowai' 'north tripura'
 'sepahijala' 'south tripura' 'unakoti' 'west tripura' 'agra' 'aligarh'
 'allahabad' 'almora' 'ambedkar nagar' 'amethi' 'amroha' 'auraiya'
 'azamgarh' 'baghpat' 'bahraich' 'ballia' 'banda' 'barabanki' 'bareilly'
 'basti' 'bijnor' 'budaun' 'bulandshahr' 'chamoli' 'chandauli'
 'chitrakoot' 'dehradun' 'deoria' 'etah' 'etawah' 'faizabad' 'farrukhabad'
 'fatehpur' 'firozabad' 'gautam buddha nagar' 'ghaziabad' 'ghazipur'
 'gonda' 'gorakhpur' 'hapur' 'hardoi' 'haridwar' 'hathras' 'jalaun'
 'jaunpur' 'jhansi' 'kannauj' 'kanpur dehat' 'kanpur nagar' 'kasganj'
 'kaushambi' 'kheri' 'kushi nagar' 'lalitpur' 'lucknow' 'maharajganj'
 'mahoba' 'mainpuri' 'mathura' 'mau' 'meerut' 'mirzapur' 'moradabad'
 'muzaffarnagar' 'nainital' 'pauri garhwal' 'pilibhit' 'pithoragarh'
 'rae bareli' 'rampur' 'saharanpur' 'sambhal' 'sant kabeer nagar'
 'sant ravidas nagar' 'shahjahanpur' 'shamli' 'shravasti'
 'siddharth nagar' 'sitapur' 'sonbhadra' 'sultanpur' 'tehri garhwal'
 'udam singh nagar' 'unnao' 'uttar kashi' 'varanasi' 'bageshwar'
 'champawat' 'rudra prayag' 'paraganas north' 'paraganas south' 'bankura'
 'birbhum' 'coochbehar' 'darjeeling' 'dinajpur dakshin' 'dinajpur uttar'
 'hooghly' 'howrah' 'jalpaiguri' 'maldah' 'medinipur east'
 'medinipur west' 'murshidabad' 'nadia' 'purba bardhaman' 'purulia'
 'alipurduar' 'jhargram' 'kalimpong' 'paschim bardhaman']

In [ ]:
data['Average_District_Crop_Yield'] = data.groupby(['District', 'Crop'])['Yield'].transform('mean')
print(data['Average_District_Crop_Yield'])

imputed_prod_group = data['Area'] * data['Average_District_Crop_Yield']
print(imputed_prod_group)

data['Production'] = data['Production'].fillna(imputed_prod_group)

print("Missing values in Production after imputation:")
print(data['Production'].isnull().sum())

0         0.848696
1         0.848696
2         0.848696
3         0.848696
4         0.848696
            ...
345331    2.056087
345332    2.056087
345333    2.056087
345334    2.056087
345335    2.056087
Name: Average_District_Crop_Yield, Length: 345336, dtype: float64
0         2070.477913
1         1380.318609
2         3519.540870
3         3519.540870
4         3524.633043
             ...
345331    1757.954348
345332    2808.614783
345333    2163.003478
345334    1712.720435
345335    1060.940870
Length: 345336, dtype: float64
Missing values in Production after imputation:
4

In [ ]:
total_odisha_wheat_production = data[(data['State'] == 'odisha') & (data['Crop'] == 'Wheat')]['Production'].sum()
print(f"Total Wheat Production in Odisha: {total_odisha_wheat_production}")

Total Wheat Production in Odisha: 121331.0

In [ ]:
# Load the external data
external_data = pd.read_csv("/content/city_day.csv")

print("External Data Info:")
external_data.info()
print("\nExternal Data Head:")
display(external_data.head())

print("\nColumns in current data:")
print(data.columns)
print("\nColumns in external data:")
print(external_data.columns)

External Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   PM2.5       24933 non-null  float64
 2   PM10        18391 non-null  float64
 3   NO          25949 non-null  float64
 4   NO2         25946 non-null  float64
 5   NOx         25346 non-null  float64
 6   NH3         19203 non-null  float64
 7   CO          27472 non-null  float64
 8   SO2         25677 non-null  float64
 9   O3          25509 non-null  float64
 10  Benzene     23908 non-null  float64
 11  Toluene     21490 non-null  float64
 12  Xylene      11422 non-null  float64
 13  AQI         24850 non-null  float64
 14  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(2)
memory usage: 3.4+ MB

External Data Head:

,City,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

Columns in current data:
Index(['State', 'District', 'Crop', 'Crop_Year', 'Season', 'Area',
       'Production', 'Yield', 'Average_District_Crop_Yield'],
      dtype='object')

Columns in external data:
Index(['City', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2', 'O3',
       'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [ ]:
unique_cities_data = set(data['District'].unique())
unique_cities_external = set(external_data['City'].unique())

all_cities = sorted(list(unique_cities_data.union(unique_cities_external)))

print("List of all unique cities/districts from both dataframes (alphabetical order):")
print(all_cities)

List of all unique cities/districts from both dataframes (alphabetical order):
['Ahmedabad', 'Aizawl', 'Amaravati', 'Amritsar', 'Bengaluru', 'Bhopal', 'Brajrajnagar', 'Chandigarh', 'Chennai', 'Coimbatore', 'Delhi', 'Ernakulam', 'Gurugram', 'Guwahati', 'Hyderabad', 'Jaipur', 'Jorapokhar', 'Kochi', 'Kolkata', 'Lucknow', 'Mumbai', 'Patna', 'Shillong', 'Talcher', 'Thiruvananthapuram', 'Visakhapatnam', 'adilabad', 'agar malwa', 'agra', 'ahmadabad', 'ahmednagar', 'aizawl', 'ajmer', 'akola', 'alappuzha', 'aligarh', 'alipurduar', 'alirajpur', 'allahabad', 'almora', 'alwar', 'ambala', 'ambedkar nagar', 'amethi', 'amravati', 'amreli', 'amritsar', 'amroha', 'anand', 'anantapur', 'anantnag', 'anjaw', 'anugul', 'anuppur', 'araria', 'aravalli', 'ariyalur', 'arwal', 'ashoknagar', 'auraiya', 'aurangabad', 'azamgarh', 'badgam', 'bagalkote', 'bageshwar', 'baghpat', 'bahraich', 'baksa', 'balaghat', 'balangir', 'baleshwar', 'ballari', 'ballia', 'balod', 'baloda bazar', 'balrampur', 'banas kantha', 'banda', 'bandipora', 'bangalore rural', 'banka', 'bankura', 'banswara', 'barabanki', 'baramulla', 'baran', 'bareilly', 'bargarh', 'barmer', 'barnala', 'barpeta', 'barwani', 'bastar', 'basti', 'bathinda', 'beed', 'begusarai', 'belagavi', 'bemetara', 'bengaluru urban', 'betul', 'bhadradri', 'bhadrak', 'bhagalpur', 'bhandara', 'bharatpur', 'bharuch', 'bhavnagar', 'bhilwara', 'bhind', 'bhiwani', 'bhojpur', 'bhopal', 'bidar', 'bijapur', 'bijnor', 'bikaner', 'bilaspur', 'birbhum', 'bishnupur', 'biswanath', 'bokaro', 'bongaigaon', 'botad', 'boudh', 'budaun', 'bulandshahr', 'buldhana', 'bundi', 'burhanpur', 'buxar', 'cachar', 'chamarajanagara', 'chamba', 'chamoli', 'champawat', 'champhai', 'chandauli', 'chandel', 'chandigarh', 'chandrapur', 'changlang', 'charaideo', 'charki dadri', 'chatra', 'chengalpattu', 'chennai', 'chhatarpur', 'chhindwara', 'chhotaudepur', 'chikkaballapura', 'chikkamagaluru', 'chirang', 'chitradurga', 'chitrakoot', 'chittoor', 'chittorgarh', 'churachandpur', 'churu', 'coimbatore', 'coochbehar', 'cuddalore', 'cuttack', 'dadra and nagar haveli', 'dakshina kannada', 'daman', 'damoh', 'dang', 'dantewada', 'darbhanga', 'darjeeling', 'darrang', 'datia', 'dausa', 'davangere', 'dehradun', 'delhi_total', 'deogarh', 'deoghar', 'deoria', 'devbhumi dwarka', 'dewas', 'dhalai', 'dhamtari', 'dhanbad', 'dhar', 'dharmapuri', 'dharwad', 'dhemaji', 'dhenkanal', 'dholpur', 'dhubri', 'dhule', 'dibang valley', 'dibrugarh', 'dima hasao', 'dimapur', 'dinajpur dakshin', 'dinajpur uttar', 'dindigul', 'dindori', 'diu', 'doda', 'dohad', 'dumka', 'dungarpur', 'durg', 'east district', 'east garo hills', 'east godavari', 'east jaintia hills', 'east kameng', 'east khasi hills', 'east siang', 'east singhbum', 'ernakulam', 'erode', 'etah', 'etawah', 'faizabad', 'faridabad', 'faridkot', 'farrukhabad', 'fatehabad', 'fatehgarh sahib', 'fatehpur', 'fazilka', 'firozabad', 'firozepur', 'gadag', 'gadchiroli', 'gajapati', 'ganderbal', 'gandhinagar', 'ganganagar', 'ganjam', 'garhwa', 'gariyaband', 'gaurella-pendra-marwahi', 'gautam buddha nagar', 'gaya', 'ghaziabad', 'ghazipur', 'gir somnath', 'giridih', 'goalpara', 'godda', 'golaghat', 'gomati', 'gonda', 'gondia', 'gopalganj', 'gorakhpur', 'gumla', 'guna', 'guntur', 'gurdaspur', 'gurgaon', 'gwalior', 'hailakandi', 'hamirpur', 'hanumakonda', 'hanumangarh', 'hapur', 'harda', 'hardoi', 'haridwar', 'hassan', 'hathras', 'haveri', 'hazaribagh', 'hingoli', 'hisar', 'hojai', 'hooghly', 'hoshangabad', 'hoshiarpur', 'howrah', 'hyderabad', 'idukki', 'imphal east', 'imphal west', 'indore', 'jabalpur', 'jagatsinghapur', 'jagitial', 'jaipur', 'jaisalmer', 'jajapur', 'jalandhar', 'jalaun', 'jalgaon', 'jalna', 'jalore', 'jalpaiguri', 'jammu', 'jamnagar', 'jamtara', 'jamui', 'jangoan', 'janjgir-champa', 'jashpur', 'jaunpur', 'jayashankar', 'jehanabad', 'jhabua', 'jhajjar', 'jhalawar', 'jhansi', 'jhargram', 'jharsuguda', 'jhunjhunu', 'jind', 'jodhpur', 'jogulamba', 'jorhat', 'junagadh', 'kabirdham', 'kachchh', 'kadapa', 'kaimur (bhabua)', 'kaithal', 'kalaburagi', 'kalahandi', 'kalimpong', 'kallakurichi', 'kamareddy', 'kamle', 'kamrup', 'kamrup metro', 'kanchipuram', 'kandhamal', 'kangra', 'kanker', 'kannauj', 'kanniyakumari', 'kannur', 'kanpur dehat', 'kanpur nagar', 'kapurthala', 'karaikal', 'karauli', 'karbi anglong', 'kargil', 'karimganj', 'karimnagar', 'karnal', 'karur', 'kasaragod', 'kasganj', 'kathua', 'katihar', 'katni', 'kaushambi', 'kendrapara', 'kendujhar', 'khagaria', 'khammam', 'khandwa', 'khargone', 'kheda', 'kheri', 'khordha', 'khowai', 'khunti', 'kinnaur', 'kiphire', 'kishanganj', 'kishtwar', 'kodagu', 'koderma', 'kohima', 'kokrajhar', 'kolar', 'kolasib', 'kolhapur', 'kollam', 'komaram bheem asifabad', 'kondagaon', 'koppal', 'koraput', 'korba', 'korea', 'kota', 'kottayam', 'kozhikode', 'kra daadi', 'krishna', 'krishnagiri', 'kulgam', 'kullu', 'kupwara', 'kurnool', 'kurukshetra', 'kurung kumey', 'kushi nagar', 'lahul and spiti', 'lakhimpur', 'lakhisarai', 'lalitpur', 'latehar', 'latur', 'lawngtlai', 'leh ladakh', 'leparada', 'lohardaga', 'lohit', 'longding', 'longleng', 'lower dibang valley', 'lower siang', 'lower subansiri', 'lucknow', 'ludhiana', 'lunglei', 'madhepura', 'madhubani', 'madurai', 'mahabubabad', 'maharajganj', 'mahasamund', 'mahbubnagar', 'mahe', 'mahendragarh', 'mahesana', 'mahisagar', 'mahoba', 'mainpuri', 'majuli', 'malappuram', 'maldah', 'malkangiri', 'mamit', 'mancherial', 'mandi', 'mandla', 'mandsaur', 'mandya', 'mansa', 'marigaon', 'mathura', 'mau', 'mayurbhanj', 'medak', 'medchal malkajgiri', 'medinipur east', 'medinipur west', 'meerut', 'mewat', 'mirzapur', 'moga', 'mokokchung', 'mon', 'moradabad', 'morbi', 'morena', 'muktsar', 'mulugu', 'mumbai', 'mumbai suburban', 'mungeli', 'munger', 'murshidabad', 'muzaffarnagar', 'muzaffarpur', 'mysuru', 'nabarangpur', 'nadia', 'nagaon', 'nagapattinam', 'nagarkurnool', 'nagaur', 'nagpur', 'nainital', 'nalanda', 'nalbari', 'nalgonda', 'namakkal', 'namsai', 'nanded', 'nandurbar', 'narayanapet', 'narayanpur', 'narmada', 'narsinghpur', 'nashik', 'navsari', 'nawada', 'nayagarh', 'neemuch', 'nicobars', 'nirmal', 'niwari', 'nizamabad', 'north and middle andaman', 'north district', 'north garo hills', 'north goa', 'north tripura', 'nuapada', 'osmanabad', 'pakke kessang', 'pakur', 'palakkad', 'palamu', 'palghar', 'pali', 'palwal', 'panch mahals', 'panchkula', 'panipat', 'panna', 'papum pare', 'paraganas north', 'paraganas south', 'parbhani', 'paschim bardhaman', 'pashchim champaran', 'patan', 'pathanamthitta', 'pathankot', 'patiala', 'patna', 'pauri garhwal', 'peddapalli', 'perambalur', 'peren', 'phek', 'pilibhit', 'pithoragarh', 'pondicherry', 'poonch', 'porbandar', 'prakasam', 'pratapgarh', 'pudukkottai', 'pulwama', 'pune', 'purba bardhaman', 'purbi champaran', 'puri', 'purnia', 'purulia', 'rae bareli', 'raichur', 'raigad', 'raigarh', 'raipur', 'raisen', 'rajanna', 'rajauri', 'rajgarh', 'rajkot', 'rajnandgaon', 'rajsamand', 'ramanagara', 'ramanathapuram', 'ramban', 'ramgarh', 'rampur', 'ranchi', 'rangareddi', 'ranipet', 'ratlam', 'ratnagiri', 'rayagada', 'reasi', 'rewa', 'rewari', 'ri bhoi', 'rohtak', 'rohtas', 'rudra prayag', 'rupnagar', 's nagar', 'sabar kantha', 'sagar', 'saharanpur', 'saharsa', 'sahebganj', 'saiha', 'salem', 'samastipur', 'samba', 'sambalpur', 'sambhal', 'sangareddy', 'sangli', 'sangrur', 'sant kabeer nagar', 'sant ravidas nagar', 'saraikela kharsawan', 'saran', 'satara', 'satna', 'sawai madhopur', 'sehore', 'senapati', 'seoni', 'sepahijala', 'serchhip', 'shahdol', 'shahid bhagat singh nagar', 'shahjahanpur', 'shajapur', 'shamli', 'sheikhpura', 'sheohar', 'sheopur', 'shi yomi', 'shimla', 'shivamogga', 'shivpuri', 'shopian', 'shravasti', 'siang', 'siddharth nagar', 'siddipet', 'sidhi', 'sikar', 'simdega', 'sindhudurg', 'singrauli', 'sirmaur', 'sirohi', 'sirsa', 'sitamarhi', 'sitapur', 'sivaganga', 'sivasagar', 'siwan', 'solan', 'solapur', 'sonbhadra', 'sonepur', 'sonipat', 'sonitpur', 'south andamans', 'south district', 'south garo hills', 'south goa', 'south salmara mancachar', 'south tripura', 'south west garo hills', 'south west khasi hills', 'spsr nellore', 'srikakulam', 'srinagar', 'sukma', 'sultanpur', 'sundargarh', 'supaul', 'surajpur', 'surat', 'surendranagar', 'surguja', 'suryapet', 'tamenglong', 'tapi', 'tarn taran', 'tawang', 'tehri garhwal', 'tenkasi', 'thane', 'thanjavur', 'the nilgiris', 'theni', 'thiruvallur', 'thiruvananthapuram', 'thiruvarur', 'thoubal', 'thrissur', 'tikamgarh', 'tinsukia', 'tirap', 'tiruchirappalli', 'tirunelveli', 'tirupathur', 'tiruppur', 'tiruvannamalai', 'tonk', 'tuensang', 'tumakuru', 'tuticorin', 'udaipur', 'udalguri', 'udam singh nagar', 'udhampur', 'udupi', 'ujjain', 'ukhrul', 'umaria', 'una', 'unakoti', 'unnao', 'upper siang', 'upper subansiri', 'uttar kashi', 'uttara kannada', 'vadodara', 'vaishali', 'valsad', 'varanasi', 'vellore', 'vidisha', 'vijayapura', 'vikarabad', 'villupuram', 'virudhunagar', 'visakhapatanam', 'vizianagaram', 'wanaparthy', 'warangal', 'wardha', 'washim', 'wayanad', 'west district', 'west garo hills', 'west godavari', 'west jaintia hills', 'west kameng', 'west karbi anglong', 'west khasi hills', 'west siang', 'west singhbhum', 'west tripura', 'wokha', 'yadadri', 'yadagiri', 'yamunanagar', 'yanam', 'yavatmal', 'zunheboto']

In [ ]:
city_map = {
    'hyderabad': 'Hyderabad',
    'visakhapatanam': 'Visakhapatnam'
}

data_renamed = data.rename(columns={'District': 'City'})
data_renamed['City'] = data_renamed['City'].replace(city_map)
external_data['City'] = external_data['City'].replace(city_map)

merged_data = pd.merge(data_renamed, external_data, on='City', how='left')

print("Merged Data Head after standardization:")
display(merged_data.head())

print("\nMerged Data Shape after standardization:")
print(merged_data.shape)

Merged Data Head after standardization:

,State,City,Crop,Crop_Year,Season,Area,Production,Yield,Average_District_Crop_Yield,PM2.5,...,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,andaman and nicobar island,nicobars,Arecanut,2007,Kharif,2439.6,3415.0,1.40,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,andaman and nicobar island,nicobars,Arecanut,2007,Rabi,1626.4,2277.0,1.40,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,andaman and nicobar island,nicobars,Arecanut,2008,Autumn,4147.0,3060.0,0.74,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,andaman and nicobar island,nicobars,Arecanut,2008,Summer,4147.0,2660.0,0.64,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,andaman and nicobar island,nicobars,Arecanut,2009,Autumn,4153.0,3120.0,0.75,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Merged Data Shape after standardization:
(1803383, 23)

In [ ]:
print("Columns in the merged data:")
print(merged_data.columns)

Columns in the merged data:
Index(['State', 'City', 'Crop', 'Crop_Year', 'Season', 'Area', 'Production',
       'Yield', 'Average_District_Crop_Yield', 'PM2.5', 'PM10', 'NO', 'NO2',
       'NOx', 'NH3', 'CO', 'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI',
       'AQI_Bucket'],
      dtype='object')

In [ ]:
merged_data['Pollutant_ratios'] = merged_data['SO2'] / merged_data['NOx']

print("Merged Data Head with 'Pollutant_ratios' column:")
display(merged_data.head())

Merged Data Head with 'Pollutant_ratios' column:

,State,City,Crop,Crop_Year,Season,Area,Production,Yield,Average_District_Crop_Yield,PM2.5,...,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Pollutant_ratios
0,andaman and nicobar island,nicobars,Arecanut,2007,Kharif,2439.6,3415.0,1.40,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,andaman and nicobar island,nicobars,Arecanut,2007,Rabi,1626.4,2277.0,1.40,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,andaman and nicobar island,nicobars,Arecanut,2008,Autumn,4147.0,3060.0,0.74,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,andaman and nicobar island,nicobars,Arecanut,2008,Summer,4147.0,2660.0,0.64,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,andaman and nicobar island,nicobars,Arecanut,2009,Autumn,4153.0,3120.0,0.75,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
merged_data['Calculated_Yield'] = merged_data['Production'] / merged_data['Area']

difference_sum = (merged_data['Calculated_Yield'] - merged_data['Yield']).sum()
print(f"Sum of the difference between Calculated_Yield and Yield: {difference_sum}")

Sum of the difference between Calculated_Yield and Yield: 114787.12581021313

In [ ]:
print("Checking for negative values:")
print("Negative Area:", merged_data[merged_data['Area'] < 0].shape[0])
print("Negative Production:", merged_data[merged_data['Production'] < 0].shape[0])
print("Negative Yield:", merged_data[merged_data['Yield'] < 0].shape[0])

print("\nChecking for Production > 0 and Area == 0:")
print("Count:", merged_data[(merged_data['Production'] > 0) & (merged_data['Area'] == 0)].shape[0])

print("\nChecking for future Crop_Year:")
print("Future Crop_Years:", merged_data[merged_data['Crop_Year'] > 2024].shape[0])

Checking for negative values:
Negative Area: 0
Negative Production: 0
Negative Yield: 0

Checking for Production > 0 and Area == 0:
Count: 0

Checking for future Crop_Year:
Future Crop_Years: 0